.reveal pre code {
  font-family: 'FiraCode-Light', 'Consolas', 'Courier New', monospace;
  line-height: 1.25;
  padding: 0.5em 1em;
}

.reveal pre code.large {
  font-size: 200%;
}

@media (max-width: 1200px) {
  h1, h2, p {
    font-size: 50%;
  }
  .reveal pre code.large {
    font-size: 50%;
  }
}